/* Sub header */
.background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 20;
    filter: alpha(opacity=2000);
    opacity: 0.2;
    filter: alpha(opacity=20);
    min-height: 425px;
}
.hero-background img{
  position: relative;
  margin: 0 auto;
  min-height: 400px;
}
/**
 * Header 1 stylesheet  
 * */
 
.header-1-sub {
  position: relative;
  z-index: 50;
  height: 800px;
  color: white;
  text-align: center;
}
.header-1-sub.v-center,
.header-1-sub .v-center {
  display: table;
  width: 100%;
}
.header-1-sub.v-center > div,
.header-1-sub .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .header-1-sub.v-center.row:before,
  .header-1-sub .v-center.row:before,
  .header-1-sub.v-center.row:after,
  .header-1-sub .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-1-sub.v-center,
  .header-1-sub .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-1-sub.v-center.row,
  .header-1-sub .v-center.row {
    display: block;
    width: auto;
  }
  .header-1-sub.v-center.row:before,
  .header-1-sub .v-center.row:before,
  .header-1-sub.v-center.row:after,
  .header-1-sub .v-center.row:after {
    display: none;
  }
  .header-1-sub.v-center.row > *,
  .header-1-sub .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.header-1-sub .hero-unit {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.header-1-sub .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 45px;
  font-weight: normal;
  color: #ffffff;
  font-family: "kepler-std-semicondensed",serif;
  font-weight: 300;
}
.header-1-sub .hero-unit p {
  font-size: 25px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  line-height: 37.5px;
}
@media (max-width: 480px) {
  .header-1-sub .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-family: "kepler-std-semicondensed",serif;
    font-weight: 300;
  }
  .header-1-sub .hero-unit p {
    font-size: 22px;
    font-weight: normal;
    color: #bdc3c7;
    line-height: 35px;
    font-weight: 300;
  }
}
.header-1-sub .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: "kepler-std-semicondensed",serif;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 480px) {
  .header-1-sub .hero-unit.hero-unit-bordered h1 {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
  }
}
@media (max-width: 480px) {
  .header-1-sub.v-center > div {
    padding-top: 35px;
  }
}
.header-1-sub .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  background: #121518;
  opacity: 80;
  filter: alpha(opacity=8000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.header-1-sub .control-btn:hover,
.header-1-sub .control-btn:focus,
.header-1-sub .control-btn.active {
  color: #ffffff;
}
.header-1-sub .control-btn:hover,
.header-1-sub .control-btn:focus,
.header-1-sub .control-btn:active,
.header-1-sub .control-btn.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-1-sub .control-btn {
    bottom: 30px;
  }
}

/**
 * Header 2 stylesheet  
 * */
.header-2-sub {
  position: relative;
  z-index: 50;
  height: 425px;
  color: white;
  text-align: center;
}

.header-2-sub.v-center,
.header-2-sub .v-center {
  display: table;
  width: 100%;
}
.header-2-sub.v-center > div,
.header-2-sub .v-center > div {
  
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .header-2-sub.v-center.row:before,
  .header-2-sub .v-center.row:before,
  .header-2-sub.v-center.row:after,
  .header-2-sub .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-2-sub.v-center,
  .header-2-sub .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-2-sub.v-center.row,
  .header-2-sub .v-center.row {
    display: block;
    width: auto;
  }
  .header-2-sub.v-center.row:before,
  .header-2-sub .v-center.row:before,
  .header-2-sub.v-center.row:after,
  .header-2-sub .v-center.row:after {
    display: none;
  }
  .header-2-sub.v-center.row > *,
  .header-2-sub .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}

.header-2-sub .hero-unit {
    margin: 0;
    background-color: transparent;
    z-index: 100;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    display: table;
}
.header-2-sub .hero-unit div{
    
}
.header-2-sub .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 45px;
  font-weight: normal;
  color: #ffffff;
  font-family: "kepler-std-semicondensed",serif;
  font-weight: 300;
}
.header-2-sub .hero-unit p {
  font-size: 25px;
  font-weight: normal;
  color: #fff;
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  line-height: 37.5px;
}
/*Left*/
.header-2-sub .hero-unit-left {
    
    background-color: transparent;
    z-index: 100;
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    display: block;
    text-align: left;
}
.header-2-sub .hero-unit-left div{
 
    margin: 0 15%;
}
.header-2-sub .hero-unit-left h1 {
  margin: 0 0 0px;
  padding-bottom: 5px;
  font-size: 45px;
  font-weight: normal;
  color: #ffffff;
  font-family: "kepler-std-semicondensed",serif;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  display: inline-block;
}
.header-2-sub .hero-unit-left p {
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  line-height: 37.5px;
  text-transform: uppercase;
}
@media (min-width: 1800px) {
  .header-2-sub .hero-unit-left div{
    margin: 0 30%;
  }
}
@media (max-width: 1650px) {
  .header-2-sub .hero-unit-left div{
    margin: 0 18%;
  }
}
@media (max-width: 1649px) {
  .header-2-sub .hero-unit-left div{
    margin: 0 15%;
  }
}
 @media (max-width: 991px) {
  .header-2-sub .hero-unit div, .header-2-sub .hero-unit-left div {
    padding: 0 0%;
  }
  .header-2-sub .hero-unit-left div{
    margin: 0 5%;
  }
}
  
@media (max-width: 767px) {
  .header-2-sub .hero-unit div, .header-2-sub .hero-unit-left div {
    padding: 0 10%;
  }
  .header-2-sub .hero-unit-left div{
    margin: 0 4%;
  }
}

@media (max-width: 480px) {
  .header-2-sub .hero-unit h1, .header-2-sub .hero-unit-left h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-family: "kepler-std-semicondensed",serif;
    font-weight: 300;
  }
  .header-2-sub .hero-unit p, .header-2-sub .hero-unit-left p {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    line-height: 35px;
    font-weight: 300;
  }
}
.header-2-sub .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: "kepler-std-semicondensed",serif;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 480px) {
  .header-2-sub .hero-unit.hero-unit-bordered h1 {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
  }
}
@media (max-width: 480px) {
  .header-2-sub.v-center > div {

  }
}
.header-2-sub .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  background: #121518;
  opacity: 80;
  filter: alpha(opacity=8000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
  z-index: 100;
}
.header-2-sub .control-btn:hover,
.header-2-sub .control-btn:focus,
.header-2-sub .control-btn.active {
  color: #ffffff;
}
.header-2-sub .control-btn:hover,
.header-2-sub .control-btn:focus,
.header-2-sub .control-btn:active,
.header-2-sub .control-btn.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-2-sub .control-btn {
    bottom: 30px;
  }
}

/**
 * Header 3 stylesheet  
 * */
.header-3-sub {
  position: relative;
  z-index: 50;
  height: 425px;
  color: white;
  text-align: center;
}

.header-3-sub.v-center,
.header-3-sub .v-center {
  display: table;
  width: 100%;
}
.header-3-sub.v-center > div,
.header-3-sub .v-center > div {
  
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .header-3-sub.v-center.row:before,
  .header-3-sub .v-center.row:before,
  .header-3-sub.v-center.row:after,
  .header-3-sub .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-3-sub.v-center,
  .header-3-sub .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*padding-left: 20px;
    padding-right: 20px;*/
  }
  .header-3-sub.v-center.row,
  .header-3-sub .v-center.row {
    display: block;
    width: auto;
  }
  .header-3-sub.v-center.row:before,
  .header-3-sub .v-center.row:before,
  .header-3-sub.v-center.row:after,
  .header-3-sub .v-center.row:after {
    display: none;
  }
  .header-3-sub.v-center.row > *,
  .header-3-sub .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.header-3-sub .hero-background img{
  position: relative;
  margin: 0 auto;
  min-height: 425px;
  width: 100%;
  background-size: cover;
}
.header-3-sub .hero-unit {
    margin: 0;
    background-color: transparent;
    z-index: 100;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    display: table;
}
.header-3-sub .hero-unit div{
    display: table-cell;
    vertical-align: middle;
    padding: 0 20%;
}
.header-3-sub .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 45px;
  font-weight: normal;
  color: #ffffff;
  font-family: "kepler-std-semicondensed",serif;
  font-weight: 300;
}
.header-3-sub .hero-unit p {
  font-size: 25px;
  font-weight: normal;
  color: #fff;
  font-family: "proxima-nova",sans-serif;
  font-weight: 300;
  line-height: 37.5px;
}
@media (max-width: 767px) {
  .header-3-sub .hero-unit div {
    padding: 0 10%;
  }
}

@media (max-width: 480px) {
  .header-3-sub .hero-unit h1 {
    font-size: 36px;
    font-weight: normal;
    color: #ffffff;
    font-family: "kepler-std-semicondensed",serif;
    font-weight: 300;
  }
  .header-3-sub .hero-unit p {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
    line-height: 35px;
    font-weight: 300;
  }
}
.header-3-sub .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: "kepler-std-semicondensed",serif;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
@media (max-width: 480px) {
  .header-3-sub .hero-unit.hero-unit-bordered h1 {
    font-size: 22px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
  }
}
@media (max-width: 480px) {
  .header-3-sub.v-center > div {

  }
}
.header-3-sub .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  background: #121518;
  opacity: 80;
  filter: alpha(opacity=8000);
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
  z-index: 100;
}
.header-3-sub .control-btn:hover,
.header-3-sub .control-btn:focus,
.header-3-sub .control-btn.active {
  color: #ffffff;
}
.header-3-sub .control-btn:hover,
.header-3-sub .control-btn:focus,
.header-3-sub .control-btn:active,
.header-3-sub .control-btn.active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .header-3-sub .control-btn {
    bottom: 30px;
  }
}